.course-header {
	border-bottom: 1px dashed #E1E1E1;
}

.course-header .button {
	float: right;
	margin-top: 1rem;
}

.course-contents {
	margin-top: 1.5rem;
}

.course-sidebar .box {
	border: 1px solid #E1E1E1;
	padding: 1.5rem 1rem 0 1rem;
	margin-bottom: 2rem;
	border-radius: 7px;
}

.course-sidebar .box li {
	list-style: none;
}

.course-sidebar .box li a {
	font-size: 1.5rem;
}

.course-sidebar .box li .date{
	font-size: 1rem;
	color: #888;
}

.course-sidebar .box .view-all-link{
	font-size: 1.2rem;
	float: right;
}

.course-sidebar footer {
	font-size: 1.2rem;
	color: #888;
}
